<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>
    <%= blog.title %>
  </title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<% if (user) { %>

  <body>
    <header class="jumbotron">
      <div class="container">
        <h1 class="display-3"><%= blog.title %></h1>
        <p>
          <%= blog.description %>
        </p>
      </div>
    </header>
    <% include components/setting %>
      <% } else { %>

        <body class="signin-body">
          <%}%>